<%= form_for @statement, :url => statements_path, :id => "add-statement" do |f| %>
  <div>
  <%= f.text_area :question, :placeholder => "Enter your question here" %>
</div>
  <%= f.radio_button(:answer, true) %>
  <%= f.label(:answer_true, "True") %>
  <%= f.radio_button(:answer, false) %>
  <%= f.label(:answer_false, "False") %>
  <%= f.submit "Add Question", :id => "submit" %>
<% end %>
