<% @statements.each do |statement| %>



  <% if @answers %>

    <% if answer = @answers.find {|answer| answer.matches_current_user?(statement) } %>

        <li id="<%= statement.id %>" class="row-fluid answered">
        <p><%= statement.question %></p>
        <h4><%= answer.user_answer %></h4>

    <% else %>

      <li id="<%= statement.id %>" class="row-fluid">
      <p><%= statement.question %></p>

      <div class="info">
        <div class="answer_links">
          <a href="<%= session[:user_id] %>/<%= statement.id %>/true">true</a>
          <a href="<%= session[:user_id] %>/<%= statement.id %>/false">false</a>
        </div>
      </div>
    <% end %>

  <% else %>

    <li id="<%= statement.id %>" class="row-fluid">
    <p><%= statement.question %></p>

    <% if current_user %>
    <div class="info">
      <div class="answer_links">
        <a href="<%= session[:user_id] %>/<%= statement.id %>/true">true</a>
        <a href="<%= session[:user_id] %>/<%= statement.id %>/false">false</a>
      </div>
    </div>
    <% end %>
  <% end %>
</li>


<% end %>